.modal{
    background: var(--main-bg-dark);
    border-radius:var(--radius);
    cursor: auto;
    flex-grow:1;
    max-width:720px;
}

.header{
    display: flex;
    align-items: center;
    height: 64px;
}

.modalCloseBtn{
    display:block;
    margin-left: auto;
    cursor:pointer;
    float:right;
}
