.preloader{
    width:100%;
    padding: 40px 0;
    text-align: center;
    & > img {
        width:50%;
        height:auto;
    }
}

.preloader_description{
    padding-top:40px;
    color: var(--not-active-color);
}
